.list-content {
    width: 500px;
    margin-top: 20px;
    border-bottom: 1px solid #dedede;
}

.list-content p {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 100px;
}

.edit {
    cursor: pointer;
    color: skyblue;
}

.deleteBtn {
    cursor: pointer;
    padding: 10px 0;
}

.deleteBtn :hover {
    color: skyblue;
}